head
  meta(charset='UTF-8')
  title Keyboards
  meta(name='description', content='Keyboards')
  meta(name='keywords', content='Keyboards')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
  link(rel='shortcut icon', href='/favicon.png', type='image/png')
  meta(name='yandex-verification', content='insert verification code here')
  meta(name='google-site-verification', content='insert verification code here')
  meta(name='apple-mobile-web-src-capable', content='yes')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  //- <!--[if IE]>
  //- link(rel="shortcut icon" href="/favicon.ico")
  //- <![endif]-->

  //- <!--[if lt IE 9]>
  //- script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
  //- script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
  //- <![endif]-->
  link(rel="stylesheet" href!="<?php bloginfo('template_directory'); ?>/assets/bundle/css/libs.css")
  link(rel="stylesheet" href!="<?php bloginfo('template_directory'); ?>/assets/bundle/css/style.min.css")
