script(src!="<?php bloginfo('template_directory'); ?>/assets/bundle/js/libs.js")
script(src!="<?php bloginfo('template_directory'); ?>/assets/bundle/js/scripts.js")
script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUr1sZ_hvxw_ymkGCQmmBddBqGRK60fcY&callback=initMap")

