.about-us
  .container
    .row
      section.section
        h1.section-title О компании
        .about-us-item
          .about-us-item__picture
            img.about-us-item__img(src!="<?php bloginfo('template_directory'); ?>/assets/bundle/img/key1.png")
          .about-us-item__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        .about-us-item.about-us-item_revert
          .about-us-item__picture
            img.about-us-item__img(src!="<?php bloginfo('template_directory'); ?>/assets/bundle/img/key2.png")
          .about-us-item__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
