section.main-banner(style="background-image: url('http://via.placeholder.com/1024x800;')")
  h1.main-banner__title <?php bloginfo('name'); ?>
  h2.main-banner__subtitle <?php bloginfo('description'); ?>
  button.button.main-banner__button Кнопка действия
