.contact-us
  .container
    .row
      section.section
        h1.section-title Возникли вопросы?
        ul.contacts-list
          li.contacts-list__item
            a.contacts-list__link(href="mailto:email@email.com") email@email.com
          li.contacts-list__item
            a.contacts-list__link(href="tel:000000000000") +000 (000) 00-00-00
          li.contacts-list__item
            a.contacts-list__link telegram
          li.contacts-list__item
            a.contacts-list__link facebook
        form.contacts-form
          input.contacts-form__email(placeholder="email")
          textarea.contacts-form__message(placeholder="текст сообщения")
          button.button.contacts-form__button Подтвердить
