.models
  .container
    .row
      section.section
        h1.section-title Модельный ряд
        .models-slider
          .swiper-container.models-slider__container.models-slider-js
            .swiper-wrapper.models-slider__wrapper
              -for(var i = 0; i < 5; i++)
                .swiper-slide.models-slider__slide
                  .models-item
                    .models-item__picture
                      img.models-item__img(src!="<?php bloginfo('template_directory'); ?>/assets/bundle/img/key1.png")
                    h3.models-item__title Vivamus tempus
                    .models-item__text Vivamus tempus lectus at nibh eleifend, vitae cursus neque iaculis. Sed et libero varius, feugiat neque quis, lobortis tellus. Morbi volutpat purus orci, vitae sodales libero iaculis id. Donec sollicitudin elit nulla, eu faucibus nibh feugiat ac. Aliquam eu fringilla mi. Vivamus libero sem, eleifend a nisi a, venenatis aliquet tellus. Integer auctor, ante vel porttitor dapibus, nisl justo finibus tortor, a aliquam elit nisi sit amet enim.
                    a.button.models-item__button Подробнее
          .swiper-pagination.models-slider__pagination.ms-pag-js
          .swiper-button-prev.models-slider__prev.ms-button-prev-js
          .swiper-button-next.models-slider__next.ms-button-next-js