html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; // 62.5% of the default of 16px, which equates to 10px

  box-sizing: border-box;
  height: 100%; // http://tutorialzine.com/2016/03/quick-tip-the-best-way-to-make-sticky-footers/

  background-color: transparent;
}

body {
  @include font(10px, 400, 1);

  display: flex;
  flex-direction: column;

  height: 100%;

  color: black;
  background-color: white;

  align-items: stretch;
}

header.header {
  flex: 0 0 auto;
}

main {
  // background-color: rgba(lightgray, .7);
  flex: 1 0 auto;
}

footer.footer {
  flex: 0 0 auto;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
  display: table;
  /* 2 */

  content: " ";
  /* 1 */
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

*:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  hyphens: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}



ul,
ol {
  list-style: none;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

svg:not(:root) {
  overflow: hidden;
}