.about-us-item {
  color: $white;

  &__img {
    display: block;
    width: 100%;

    @media (min-width: $sm + 1) {
      width: 400px;
      height: 300px;
    }
  }

  &_revert &__picture {
    order: 1;
  }

  &__text {
    display: flex;
    align-items: center;
    padding: 20px;
    text-align: justify;
    color: $black;
    font-size: 14px;
    background: $white;

    @media (min-width: $sm + 1) {
      width: 400px;
      height: 300px;
    }
  }

  @media (min-width: $sm + 1) {
    display: inline-flex;
  }
}