.advantage-item {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin: 0 15px;
  margin-top: 40px;

  &:first-child {
    margin-top: 0;
  }

  &__picture {
    overflow: hidden;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  &__img {
    max-width: unset;
    height: 100px
  }

  &__title {
    font-size: 16px;

    margin-top: 20px;
  }

  &__text {
    font-size: 14px;

    margin-top: 20px;
  }
  
  @media (min-width: $md + 1) {
    @include span(4);

    &:nth-child(-n+3) {
      margin-top: 0;
    }

  }

  @media (min-width: $sm + 1) {
    @include span(6);

    &:nth-child(-n+2) {
      margin-top: 0;
    }
  }
}