.contacts-list {
  @include span(12);
  display: inline-flex;
  flex-direction: column;

  &__item {
    &:not(:first-child) {
      margin-top: 20px;
    }
  }

  &__link {
    font-size: 16px;
    color: $black;
    text-decoration: none;
  }

  @media (min-width: $md + 1) {
    @include span(6);
  }
}