.contacts-form {
  @include span(12);
  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  font-size: 16px;

  margin-top: 20px;

  &__email {
    width: 100%;
  }

  &__message {
    width: 100%;
    height: 100px;

    margin-top: 30px;
  }

  &__button {
    font-size: 12px;
    margin-top: 30px;
  }

  @media (min-width: $md + 1) {
    @include span(6);
    max-width: 500px;
    margin-top: 0;
  }
}