.main-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-shrink: 0;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &__title {
    font-size: 32px;
    text-indent: .4em;
    letter-spacing: .4em;
    text-transform: uppercase;

    @media (min-width: $sm + 1) {
      text-indent: 1em;
      letter-spacing: 1em;
    }
  }

  &__subtitle {
    font-size: 20px;
    margin-top: 20px;

    @media (min-width: $sm + 1) {
      font-size: 24px;
    }
  }

  &__button {
    margin-top: 50px;
    flex-shrink: 0;
  }
}