.models-slider {
  @include span(12);
  position: relative;
  padding-bottom: 60px;

  &__pagination {
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);

    .swiper-pagination-bullet:not(:first-child) {
      margin-left: 10px;
    }
  }

  &__prev {
    left: 25vw;
    height: 15px;
    top: auto;
    bottom: 8px;
  }

  &__next {
    right: 25vw;
    height: 15px;
    top: auto;
    bottom: 8px;
  }
}