.models-item {

  &__picture {
    height: 200px;
    overflow: hidden;
  }

  &__img {
    width: 100%;
  }

  &__title {
    font-size: 16px;

    margin-top: 20px;
  }

  &__text {
    font-size: 14px;

    margin-top: 20px;
  }

  &__button {
    display: inline-block;

    margin-top: 20px;
  }
}
