//- Базовая разметка страницы
mixin base-page(page)
  doctype html
  html(lang='ru')
    include ../meta/_head
    body
      <?php get_header(); ?>
      if block
        block
      <?php get_footer(); ?>
