.button {
  appearance: none;
  box-sizing: border-box;
  cursor: pointer;
  transition: .1s all;
  display: block;
  padding: 20px 25px;
  background-color: $white;
  border: 1px solid $black;
  color: $black;
  text-transform: uppercase;
  text-align: center;
  text-indent: 1em;
  letter-spacing: 1em;

  &:hover {
    background-color:  $black;
    border-color: $black;
    color: $white;
  }
}