.section {
  padding: 50px 0;
}

.section-title {
  font-size: 23px;
  margin-bottom: 50px;
  text-align: center;
}

.about-us {
  background: $smoky-gray;
  font-size: 0;
  text-align: center;
}

.advantages {
  background: $light-grey;
  font-size: 0;
  text-align: center;
}

.models {
  background: $smoky-gray;
}

.contact-us {
  background: $light-grey;
  font-size: 0;
}
