include pug/helpers/_mixins

+base-page
  include pug/blocks/_banner
  include pug/blocks/_about-us
  include pug/blocks/_advantages
  include pug/blocks/_models
  include pug/blocks/_contact-us
  #map.map