// ############################# mixin's #############################
// @include font($font-size, $font-weight: 400, $line-height: 1.5, $font-style: normal, $font-family: $font); // Font берется из _vars.scss
@mixin font($font-size, $font-weight: 400, $line-height: $font-size, $font-style: normal, $font-family: $font) {
  // проверка на размерность передаваемого значения http://sass-lang.com/documentation/Sass/Script/Functions.html#unit-instance_method
  @if unit($font-size) == unit($line-height) {
    font: $font-weight $font-style #{$font-size} / #{$line-height/$font-size} $font-family;
  } @else {
    font: $font-weight $font-style #{$font-size} / #{$line-height} $font-family;
  }
}
