$site-width: 1200px;               // ширина сайта
$gutter: 15px;                  // Размер отсупа

$font: Tahoma;                     // переменная, используемая в миксинах

$black: #000;
$white: #fff;

$light-grey: #e3e3e3;
$smoky-gray: #b6b6b6;
$aqua: rgb(0, 169, 157);

$sm: 544px;                       // Small screen / phone
$md: 768px;                       // Medium screen / tablet
